<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Link para o CSS do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- navBar -->

<div>
  <app-header></app-header>
</div>


<div class="container mt-5">
    <h2>Cadastrar Receita</h2>
    <form (ngSubmit)="salvarReceita()" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="nameRecipe" class="form-label">Nome da Receita</label>
        <input type="text" class="form-control" id="nameRecipe" name="nameRecipe" [(ngModel)]="receitaRegistro.nameRecipe">
      </div>
      <div class="mb-3">
        <label for="tipo" class="form-label">Tipo</label>
        <select class="form-select" id="tipo" name="tipo" [(ngModel)]="receitaRegistro.tipo">
          <option value="g">Glúten</option>
          <option value="l">Lactose</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="preparation" class="form-label">Modo de Preparo</label>
        <textarea class="form-control" id="preparation" name="preparation" rows="4" [(ngModel)]="receitaRegistro.preparation"></textarea>
      </div>
      <div class="mb-3">
        <label for="imagem" class="form-label">Imagem da Receita</label>
        <input type="file" class="form-control" id="imagem" name="imagem" (change)="onImagemSelecionada($event)">
      </div>

      <button type="submit" class="btn btn-primary">Cadastrar Receita</button>
    </form>

    <div *ngIf="mostrarIngredientes">
        <h3>Cadastrar Ingredientes</h3>
        <form (ngSubmit)="salvarIngrediente()">
          <div class="mb-3">
            <label for="nameIngredient" class="form-label">Nome do Ingrediente</label>
            <input type="text" class="form-control" id="nameIngredient" name="nameIngredient" [(ngModel)]="ingredienteRegistro.nameIngredient">
          </div>
          <div class="mb-3">
            <label for="ingredientPrice" class="form-label">Preço do ingrediente em media(nao obrigatorio)</label>
            <input type="number" class="form-control" id="ingredientPrice" name="ingredientPrice" step="0.01" [(ngModel)]="ingredienteRegistro.value"
            (ngModelChange)="verificarvalue($event)">
          </div>
          <div class="mb-3">
            <label for="ingredientQuantityKg" class="form-label">Quantidade (kg)</label>
            <input type="number" class="form-control" id="ingredientQuantityKg" name="ingredientQuantityKg" step="0.01" [(ngModel)]="ingredienteRegistro.quantityKg"
            (ngModelChange)="verificarQuantidadeKg($event)">
          </div>
          <div class="mb-3">
            <label for="ingredientQuantityGrams" class="form-label">Quantidade (gramas)</label>
            <input type="number" class="form-control" id="ingredientQuantityGrams" name="ingredientQuantityGrams" step="0.01" [(ngModel)]="ingredienteRegistro.quantityG"
            (ngModelChange)="verificarQuantidadeG($event)">
          </div>
          <div class="mb-3">
            <label for="ingredientQuantityOther" class="form-label">Quantidade Unitaria(ovos por exemplo )</label>
            <input type="number" class="form-control" id="ingredientQuantityOther" name="ingredientQuantityOther" [(ngModel)]="ingredienteRegistro.quantity"
            (ngModelChange)="verificarQuantidadeUnitaria($event)">
          </div>
          <div class="mb-3">
            <label for="ingredientQuantityCups" class="form-label">Quantidade em xicaras</label>
            <input type="number" class="form-control" id="ingredientQuantityCups" name="ingredientQuantityCups" [(ngModel)]="ingredienteRegistro.quantityCups" 
            (ngModelChange)="verificarQuantidadeCups($event)">
          </div>
          <div class="mb-3">
            <label for="ingredientQuantitySpon" class="form-label">Quantidade em colheres</label>
            <input type="number" class="form-control" id="ingredientQuantitySpon" name="ingredientQuantitySpon" [(ngModel)]="ingredienteRegistro.quantitySpoons"
            (ngModelChange)="verificarQuantidadecolher($event)">
          </div>
          <button type="submit" class="btn btn-primary">Cadastrar Ingrediente</button>
        </form>
        <button (click)="finalizar()" class="btn btn-success">Finalizar</button>
      </div>
    </div>
  
    




  

    <!-- Scripts do Bootstrap (jQuery e Popper.js necessários para funcionalidades do Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>