<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Link para o CSS do Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- navBar -->

<div>
  <app-header></app-header>
</div>



<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <!-- Imagem da Receita -->
            <img [src]="receita.image" alt="Imagem da Receita" class="img-fluid">
        </div>
        <div class="col-md-8">
            <!-- Nome da Receita -->
            <div class="mb-3">
                <label for="nomeReceita" class="form-label">Nome da Receita:</label>
                <input type="text" id="nomeReceita" class="form-control" value="Nome da Receita" [value]="receita.nameRecipe" readonly>
            </div>
            <!-- Tabela de Ingredientes -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome do Ingrediente</th>
                        <th>Valor</th>
                        <th>Quantidade (g)</th>
                        <th>Quantidade (kg)</th>
                        <th>Quantidade Unitária</th>
                        <th>Quantidade (xicaras)</th>
                        <th>Quantidade (colheres)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Dados dos ingredientes carregados do banco de dados -->
                    <tr *ngFor="let ingrediente of ingredientes">
                        <td>{{ ingrediente.nameIngredient }}</td>
                        <td>{{ ingrediente.value }}</td>
                        <td>{{ ingrediente.quantityG }}</td>
                        <td>{{ ingrediente.quantityKg }}</td>
                        <td>{{ ingrediente.quantity }}</td>
                        <td>{{ ingrediente.quantityCups }}</td>
                        <td>{{ ingrediente.quantitySpons }}</td>
                    </tr>
                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modo de Preparo -->
    <div class="mb-3">
        <label for="modoPreparo" class="form-label">Modo de Preparo:</label>
        <textarea id="modoPreparo" class="form-control" rows="5" [value]="receita.preparation" readonly>Descrição do modo de preparo :</textarea>
    </div>
</div>
    




  

    <!-- Scripts do Bootstrap (jQuery e Popper.js necessários para funcionalidades do Bootstrap) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>